# Byte-compiled / optimized / DLL files
__pycache__/

# Datas
images/
clean/
split/
wandb/
model_weight/
pure_ysun/
pure_aiteam/
ysun_1/
ysun_2/
ysun_3/

# Logs
logs/

# Files
*.zip
*.pth
*.png
*.json




